.file-input{
    height:32px;
}

#fileUploadForm > div {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
}

#uploadFooter .btn + .btn {
  margin-bottom: 0;
  margin-left: 28px;
}

#dropbox {
  border: 2px dashed #999;
  padding: 72px;
}

#dropbox.active {
  border: 4px dashed #FF0000;
}

.progress-trough {
  border: 1px solid rgba(0,0,0,0.1);
  height: 24px;
  width: 512px;
  position: relative;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: rgba(176,176,176,0.5);
}

.progress-bar-text{
    color: #777;
    font-size: 1.5rem;
    padding-top: 1px;
}

.modal-body > div{
    padding-top: 8px;
}
