//===================colors======================
//base colors
$red-base: #db3236;

$green-base: #5c5;

$blue-base: #34a6ff;
$blue-green: #34A6BB;

$orange-base: #fe8800;

//bg colors
$bg-color: #f5f5f5;
$lightcolor: #EEE;
$lightorange: #FFC47F;
$lightblue: #CBE4FB;
$mediumcolor: #BDBDBD;
$mediumcolor-contrast: #428bca;
$darkcolor: #444;
$dangercolor: #ea202d;

//8 shades of grey
$grey-01: #ECEFF3;
$grey-02: #DFE4E9;
$grey-03: #C8D5DF;
$grey-04: #ACB8C5;
$grey-05: #92A0B2;
$grey-06: #748192;
$grey-07: #4F5B69;
$grey-08: #32363F;

//==============misc==========================
$font-size: 15px;