@import "./global.scss";

.card-block {
  padding: 10px;
  margin: 50px auto;
  width: 340px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.mini-card-block{
    padding: 10px;
    margin: 24px auto;
}

h1 {
  text-align: center;
  font-size: 200%;
  color: #757575;
  font-weight: 300;
}


.input {
  width: 75%;
  height: 50px;
  display: block;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: none;
  border-bottom: 2px solid #ebebeb;
}
.input:focus {
  outline: none;
  border-bottom-color: $blue-base !important;
}
.input:hover {
  border-bottom-color: #dcdcdc;
}
.input:invalid {
  box-shadow: none;
}

.pass:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
  position: relative;
  width: 85%;
  height: 50px;
  display: block;
  margin: 30px auto 30px;
  color: white;
  background-color: $blue-base;
  border: none;
  -webkit-box-shadow: 0 5px 0 #2196F3;
  -moz-box-shadow: 0 5px 0 #2196F3;
  box-shadow: 0 5px 0 #2196F3;
  opacity: 0.75;
}

.inputButton:hover {
  top: 2px;
  -webkit-box-shadow: 0 3px 0 #2196F3;
  -moz-box-shadow: 0 3px 0 #2196F3;
  box-shadow: 0 3px 0 #2196F3;
}

.inputButton:active {
  top: 5px;
  box-shadow: none;
}

.inputButton:focus {
  outline: none;
}
