@import "global.scss";

.font-file-list {
  color: #999;
}

.font-grey-barely {
  color: $grey-03;
}

.font-file-name {
  color: #333;
  margin-top: 15px;
}

.font-size-36{
    font-size: 36px;
}

.font-size-40{
    font-size: 40px;
}

.font-size-48{
    font-size: 48px;
}

.bg-white {
  background-color: #fff;
  height: 960px;
  margin-top: -24px;
}

.c-white-pure{
    color: $pure_white;
}

.no-border {
  border: none;
}

.fa-blue {
  color: $blue-base;
}
.btn-upload {
  color: #fff;
  background: $blue-base;
}

.bg-blue-base{
    background-color: $blue-base;
}
.btn-all-files {
  color: #fff;
  background: $grey-05;
}

.rgb-white-pure {
  color: #fff;
}

.display-none {
  display: none;
}

.float-left{
    float: left;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.display-inline-block{
    display: inline-block;

}

.text-align-center{
    text-align: center;
}

.vertical-align-middle{
    vertical-align: middle;
}

.visible-false{
  visibility: hidden;
}

.visible-true{
  visibility: visible;
}

.rgb-black-pure {
  color: #000;
}

.letter-space-8{
    letter-spacing: 8px
}

.to-top18{
    top:18%
}
.to-top24{
    top:24%
}

.to-top36{
    top:36%
}

.to-top42{
    top:42%
}

.to-top56{
    top:56%
}

.to-top64{
    top:64%
}

.to-top72{
    top:72%
}

.to-p-left-12 {
  padding-left: 12px;
}

.to-p-left-18 {
  padding-left: 18px;
}

.to-p-left-24 {
  padding-left: 24px;
}

.to-m-top-8{
    margin-top: 8px;
}

.to-m-top-12{
    margin-top: 12px;
}

.to-m-top-18 {
  margin-top: 18px;
}

.to-m-top32 {
  margin-top: 32%;
}

.to-m-left-18 {
  margin-left: 18px;
}

.to-m-left-36 {
  margin-left: 36px;
}

.to-m-left1 {
  margin-left: 1%;
}

.to-m-left4 {
  margin-left: 4%;
}
.to-m-left6 {
  margin-left: 6%;
}
.to-m-left8 {
  margin-left: 8%;
}

.to-m-left12 {
  margin-left: 12%;
}
.to-m-left16 {
  margin-left: 16%;
}

.to-m-left18 {
  margin-left: 18%;
}
.to-m-left20 {
  margin-left: 20%;
}
.to-m-left24 {
  margin-left: 24%;
}

.to-m-left28 {
  margin-left: 28%;
}

.to-m-left48 {
  margin-left: 48%;
}





.height-20 {
  height: 20px;
}

.height-160 {
  height: 160px;
}
.height-180 {
  height: 180px;
}

.height-200 {
  height: 200px;
}

.height-240 {
  height: 240px;
}


.height24 {
  height: 24%;
}

.height42{
  height: 42%;
}

.height75 {
  height: 75%;
}

.height100 {
  height: 100%;
}

.width-24{
    width: 24px;
}

.width-36{
    width: 36px;
}

.width-48{
    width: 48px;
}

.width24{
    width:24%;
}
.width75{
    width:75%;
}

.width100{
    width:100%;
}

.opacity0 {
  opacity: 0;
}
.opacity25 {
  opacity: 0.25;
}
.opacity50 {
  opacity: 0.5;
}
.opacity75 {
  opacity: 0.75;
}
.opacity100 {
  opacity: 1;
}

a {
    text-decoration: none;
    color: #555;
}

a:link{
    text-decoration: none;
    color: #555;
}
a:visited{
    text-decoration: none;
}
a:hover {
    text-decoration: none;
  color: $blue-base;
}
